<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.settings">

    <application>
        <activity
            android:name="expo.modules.settings.DummyActivity"
            android:theme="@style/Theme.AppCompat.Translucent.NoTitleBar" />
    </application>
</manifest>
